<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<!--add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" /-->
    <!--<add name="ApplicationServices" connectionString="Server=localhost; Connection Lifetime=30; Pooling=False; User ID=sa; Password=delper98; Database=LookACity; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="ConnStr_LookACity" connectionString="Server=localhost; Connection Lifetime=30; Pooling=False; User ID=sa; Password=delper98; Database=LookACity; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="Look!ACityConnectionString" connectionString="Server=localhost; Connection Lifetime=30; Pooling=False; User ID=sa; Password=delper98; Database=LookACity; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->

    <add name="ApplicationServices" connectionString="Data Source=gandalf.dei.isep.ipp.pt;Initial Catalog=ARQSI123;User Id=arqsi123;Password=bsdg1011;" providerName="System.Data.SqlClient"/>
    <add name="ConnStr_LookACity" connectionString="Data Source=gandalf.dei.isep.ipp.pt;Initial Catalog=ARQSI123;User Id=arqsi123;Password=bsdg1011;" providerName="System.Data.SqlClient"/>
    <add name="Look!ACityConnectionString" connectionString="Data Source=gandalf.dei.isep.ipp.pt;Initial Catalog=ARQSI123;User Id=arqsi123;Password=bsdg1011;" providerName="System.Data.SqlClient"/>
    <!-- Data Source=.\SQLEXPRESS;Initial Catalog=LookACity;Integrated Security=True -->
  </connectionStrings>
	<system.web>
		<customErrors defaultRedirect="~/PaginaErro.aspx" />
  <compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear/>
				<add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
