#?delimiters [%, %], [%=, %]
<table cellspacing="0" width="100%" style="border:1px solid #cccccc">
  <tr title="" >
    <td class="headerOpened">
      <wr:FrameTitle/>
    </td>
  </tr>
  <tr>
    <td rowspan="1" colspan="1">
      <wr:FrameContent/>
    </td>
  </tr>
</table>